.container{
    height: 100vh;
    width: 100%;
  
    
}
.container-register{
    padding: 2%;
    background-color: #fff;
    box-shadow: #000 5px solid;
   
    
}
.formControlContainer{
    box-shadow: -3px 2px 21px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 2px 21px -22px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 2px 21px -22px rgba(0,0,0,0.75);
padding: 2% 2%;

}
.container-input{
margin-top:10;
margin-bottom:20;

}
.title{
    color:#394362
}
.container-duble{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.button-cadastrar{
    width: 150px;
    height: 50px;
    background-color: #0aa699;
    
}
.button-cancelar{
    width: 150px;
    height: 50px;
    background-color: #e94847;

}
.container-buttons{
    display: flex;
    justify-content: flex-end
}
