.container{
    height: 100vh;
    width: 100%;
  
    
}
.container-register{
    padding: 2%;
    background-color: #fff;
    box-shadow: #000 5px solid;
   
    
}
.formControlContainer{
    box-shadow: -3px 2px 21px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 2px 21px -22px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 2px 21px -22px rgba(0,0,0,0.75);
padding: 2% 2%;



}
.container-input{
margin-top:10;
margin-bottom:20;

}
.title{
    color:#394362;
    
}
.container-duble{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.button-cadastrar{
    max-width: 200px;
    height: 50px;
    background: #0aa699;
        margin-right: 20px;
    
}
.button-cancelar{
    max-width: 200px;
    height: 50px;
    background-color: #e94847;
    

}
.container-buttons{
    width: 100%;
}
.inputDataSacContainer{
    display: flex;
 
 
    justify-content: center;

   
    margin-top: 10px;
    text-align: center;
    padding: 10px 10px;
}
.inputDataSac{
    border: 1px #b2b2b2 solid;
    width: 90%;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    
    
}
@media screen and (max-width: 1300px) {
    .inputDataSacContainer {
      flex-direction: column;
    }
  }